* {
  font-family: 'Armata', sans-serif;
}

.giphy-class {
  background-color: gray;
  color: white;
  font-size: 20px;
  padding: 15px 15px;
  margin: 5px;
  border-radius: 10px;
}

#sport-input {
  font-size: 30px;
}

form {
  margin-top: 20px;
}

#input {
  width: 200px;
  height: 20px;
  font-size: 20px;
  padding: 5px 5px;
  margin-left: 10px;
}

#add-sport {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  margin-left: 10px;
}